<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      <img src="../../assets/logo.png" alt="Pokémons" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../../assets/banner.svg" alt="Bonner Pokémon" />

  <ion-card-content>
    <div class="texto-conteudo">
      <h1>
        Qual pokemon você escolheria?
        <div class="retangulo"></div>
      </h1>
      <p>
        Você pode saber o tipo de Pokémon, seus pontos fortes, fracos e
        habilidades.
      </p>
    </div>
    <div class="btnInicio">
      <p>Ver pokémons</p>
    </div>
  </ion-card-content>
</ion-content>
